/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";


 //---------Navbar---------

   .navbar-default {
     background: transparent;

     margin-bottom: 0px;
     border-radius: 0;
     height: 60px;
   }

   .navbar-default .navbar-brand {
       color: #808284;
       padding: 10px 15px;
       line-height: 30px;
   }

   .navbar-default .navbar-brand:hover,
   .navbar-default .navbar-brand:focus {
       color: #808284;
       background-color: transparent;
   }

   .navbar-default .navbar-nav > li > a {
       color: #808284;
   }

   .navbar-default .navbar-nav > li > a:hover,
   .navbar-default .navbar-nav > li > a:focus {
       color: #808284;
       background-color: transparent;
   }

   .navbar-default .navbar-nav > .active > a,
   .navbar-default .navbar-nav > .active > a:hover,
   .navbar-default .navbar-nav > .active > a:focus {
       color: #808284;
       background-color: transparent;
   }

   .navbar-default .navbar-nav > .open > a,
   .navbar-default .navbar-nav > .open > a:focus,
   .navbar-default .navbar-nav > .open > a:hover {
       background-color: #808284;
       color: #212121;
   }

 //----------navbar主页logo居中
.navbar-brand {
  font-size: 30px;
  font-family:Graphik Hebrew Scholor;
}
 .navbar-brand-centered {
         position: absolute;
         left: 44%;
         display: block;
         width: -10px;
         text-align: center;
         background-color: transparent;
     }
     .navbar>.container .navbar-brand-centered,
     .navbar>.container-fluid .navbar-brand-centered {
         margin-left: -80px;
     }

//---------首页Box---------

.carousel-inner img {

   width: 100%; /* Set width to 100% */
   margin: auto;
}

.carousel-caption h3 {
   color: #fff !important;
}

@media (max-width: 600px) {
   .carousel-caption {
       display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
   }
}

  //---------Footer---------

 footer {
     color: #808284;
 }

 footer .footer-below {
     padding: 25px 0;
     background-color: transparent;
 }

 //---------自定义按钮
 .btn-zdy{
   background-color: #212121;
        border: none;
        color: white;
        font-family:Graphik;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 0
 }
 .btn-zdy:hover {
   background: #84898c;

  text-decoration: none;
 }
 //------------注册页面美化
 .form-group1 {
   margin: auto;
   position: relative;
   left: 0;
   top: 0;
   bottom: 0;
   height: 100px;
   right: 0;
   width: 280px;
 }
 .form-group1 input {
   border: none;
   color: #808284;
   font-weight: 400;
   padding: 40px 0px 10px 0px;
   background: transparent;
   letter-spacing: 1px;
   outline: none;
   font-family: "Lato", sans-serif;
   height: 30px;
   width: 280px;
   -webkit-transition-property: -webkit-transform;
   transition-property: -webkit-transform;
   transition-property: transform;
   transition-property: transform, -webkit-transform;
   font-size: 14px;
   box-shadow: 0px 1px #808284;
 }

//--------------产品图片展示设置
.thumbnail1 {
   display: block;

   margin: 20px 20px 20px 20px;

   line-height: 1.42857143;
   background-color: #fff;
   height: 300px;
 }
 .thumbnail2 {
  display: block;

  margin: 60px 70px 60px 150px;

  line-height: 1.42857143;
  background-color: #fff;
  height: 300px;
  }
 .thumbnail3 {
  display: block;

  margin: 10px 10px 10px 10px;

  line-height: 1.42857143;
  background-color: #fff;
  height: 300px;
  }
//-----------产品主页面调整
.product-details {

    margin-left: 20px;

}

.product__name{
  font-family: Graphik;
  font-size: 16px;

  color: #808284;
}

.product__price{
  font-family: Graphik;
  font-weight: 50;
  line-height: 0;
  color: #808284;
}

.product__color{
  font-family: Graphik;
  font-weight: 50;
  line-height: 0;
  color: #E0E0E0;
}

.product__link{

line-height: 1;
}

//---------产品页面Content布局---------

 .content-section-a {
     padding: 20px ;
     background-color: #f8f8f8;
     font-family: Graphik;
     font-weight: 50;
     line-height: 0;
     color: #808284;
 }

 .content-section-b {
     padding: 50px 0;
     border-top: 1px solid #e7e7e7;
     border-bottom: 1px solid #e7e7e7;
     font-family: Graphik;
     font-weight: 50;
     line-height: 0;
     color: #808284;
 }

 .section-heading1 {
     margin: 50px 10px 10px 10px;
 }

 .section-heading2 {
     margin: 10px 10px 50px -150px;
 }
.section-text{
  font-size: 13px;
  line-height: 20px;
  margin: 30px 50px 30px 10px
}

 .img-responsive {
    display: block;
    max-width: 150%;
    height: 400px;

}
//-------购物车页面修改
.panel-default1 {
  border-bottom: 0px solid #dfe0e1；

}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dfe0e1;
}
.panel-body1{
  display: block;
  line-height: 1.42857143;
  background-color: #fff;



}
//-------------订单列表页面修改
.list-group-item{
    border: 0;
    padding-left: 0;
    border-top: 1px solid;
    border-color: rgba(37,40,43,0.1);
}
.list-group .list-group-item:first-child{
    border:0;
}
.list-group .list-group-item a{
    color: #808284;
    cursor: pointer;
    text-decoration: none;
}
.list-group.list-group-header{
    padding:0;
    margin:0;
}
.list-group-panel{
    border: 1px solid #dfe0e1;
    border-radius: 0;
}

//-------
.product{
    position: relative;
    perspective: 800px;
    width:306px;
    height:471px;
    transform-style: preserve-3d;
    transition: transform 5s;
	float:left;
	margin-right: 23px;
	-webkit-transition: width 500ms ease-in-out;
	   -moz-transition: width 500ms ease-in-out;
		-ms-transition: width 500ms ease-in-out;
		 -o-transition: width 500ms ease-in-out;
 		    transition: width 500ms ease-in-out;
}
